<link rel="stylesheet" href="css/pages/attendance/Leftcard.css" />

<div>
    <div class="img-container">
        <img style="width: 348px;" class="img-fluid" src="<%= defaultimage.src %>">
        <div class=" overlay">
            <span class="h3">
                <%= _.get(data.user_data.personal_data, 'nama_karyawan' ).toUpperCase() %>
            </span>
        </div>
    </div>
</div>