<div class="card card-primary">
    <div class="card-header">
        <div class="header-block">
            <div>
                <button id="contract_details_modal" type="button" class="btn btn-primary rounded">Contract Details
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="form-group col-lg-6">
                <label>Full Sallary</label>
                <input name="full_sallary" value="<%= _.get(filterDivision, 'full_sallary' ); %>" type="number"
                    class="form-control boxed" placeholder="Full Sallary" required>
            </div>
            <div class="form-group col-lg-6">
                <label>Attendance</label>
                <input name="attendance_compensation" value="<%= _.get(filterDivision, 'attendance_compensation' ); %>"
                    type="number" class="form-control boxed" placeholder="Attendance" readonly>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label>Transport</label>
                <input name="transport_compensation" value="<%= _.get(filterDivision, 'transport_compensation' ); %>"
                    type="number" class="form-control boxed" placeholder="Transport" readonly>
            </div>
            <div class="form-group col-lg-6">
                <label>Launch</label>
                <input name="launch_compensation" value="<%= _.get(filterDivision, 'launch_compensation' ); %>"
                    type="number" class="form-control boxed" placeholder="Launch" readonly>
            </div>
        </div>
    </div>
</div>