<form id="form1" role="form">
    <div class="form-group">
        <label>Divisi</label>
        <select class="js-example-basic-single" name="state">
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mb-4 col">Submit</button>
</form>
<script>
    $('.js-example-basic-single').select2();
</script>