<form id="form4" role="form">
    <div class="row">
        <div class="form-group col-lg-6 d-flex flex-column">
            <div>
                <label>ID Card</label>
                <img src="<%= defaultimage.src %>" class="img-fluid w-100 mb-2" alt="...">
            </div>
            <div>
                <input name="image_ktp" type="file" accept="image/*" class="form-control boxed" required>
            </div>
        </div>
        <div class="form-group col-lg-6 d-flex flex-column">
            <div>
                <label>Drive Card</label>
                <img src="<%= defaultimage.src %>" class="img-fluid w-100 mb-2" alt="...">
            </div>
            <div>
                <input name="image_sim" type="file" accept="image/*" class="form-control boxed">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-6 d-flex flex-column">
            <div>
                <label>BPJS</label>
                <img src="<%= defaultimage.src %>" class="img-fluid w-100 mb-2" alt="...">
            </div>
            <div>
                <input name="image_bpjs" type="file" accept="image/*" class="form-control boxed">
            </div>
        </div>
        <div class="form-group col-lg-6 d-flex flex-column">
            <div>
                <label>NPWP</label>
                <img src="<%= defaultimage.src %>" class="img-fluid w-100 mb-2" alt="...">
            </div>
            <div>
                <input name="image_npwp" type="file" accept="image/*" class="form-control boxed">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-4 col">Submit</button>
</form>
<script src="js/pages/home/documentdata/submit.js"></script>